{{define "content"}}
  <h2>Results for "{{.Query}}"</h2>
  <ul>
    <li><a href="/navigation/">Navigate</a></li>
    <li><a href="/navigation-graph">View navigation graph</a></li>
  </ul>

  {{with .Results}}
    <p>{{len .}} results</p>

    {{range .}}
      <div class="search-snippet">
        <h3><a href="/dataset/{{.DatasetID}}">{{.Name}}</a></h3>
        <p>{{shorten .Description}}</p>
        <p><strong>Tags:</strong> {{commaseparate .Tags}}</p>
      </div>
    {{end}}
  {{else}}
    <p>No results.</p>
  {{end}}
{{end}}

{{define "search_query"}}{{.Query}}{{end}}
