body {
  margin: auto;
  max-width: 60em;
  padding: 0 1em;
  font-family: sans-serif;
}

nav {
  display: flex;
  margin: 10px 0;
}
nav a {
  margin: auto 0;
  margin-right: 1em;
}
nav form {
  flex-grow: 1;
}
nav input {
  width: 100%;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.search-snippet {
  border-top: thin solid lightgray;
}
